.hero-main {
  height: 90vh;
  margin: 10vh;
  background-color: #1f1d36;
  .heading {
    padding: 10px;
    color: #f3ecff;
    text-align: center;
  }
  .glasses {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
