* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.1rem;
}

div.app {
  height: 300vh;
}
body {
  background-color: #1f1d36;
}
